© Keith Williams -
<script type="text/javascript">
    var d = new Date()
    document.write(d.getFullYear())
</script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-{{ site.google }}' , 'auto');
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>