#wrapper {
    width: 960px;
    border: black thin;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 30px;
    font-family: SansSerif, "Helvetica Neue", Helvetica;
}
#logo img {
    height: 116px;

}
#article_text {
    padding-left: 20px;
    padding-right: 20px;
}
#top {
    height: 120px;
    line-height: 120px
}

#sidebar img {
    padding: 20px;
}
#sidebar_image {
    margin-right: auto;
    margin-left: auto;
    width: 320px;
}
.floatLeft {
    float: left;
}
.grBig {
    width: 593px;
}
.grSmall {
    width: 367px;
}
