.hero-image {
    background-image: url('Tech1.jpg');
    width: 100%;
    top: 46px;
    position: relative;
    background-size: 100% 100%;
    text-align: center;
}
.hero-text {
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
}